@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

$ScissorsGradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$PaperGradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$RockGradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$LizardGradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
$SpockGradient: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
$DarkText: hsl(229, 25%, 31%);
$ScoreText: hsl(229, 64%, 46%);
$HeaderOutline: hsl(217, 16%, 45%);
$RadialGradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$border: 12px solid;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin icons($bg, $afterColor) {
  background: $bg;
  position: relative;
  //z-index: 3;
  &::after {
    content: "";
    width: 97%;
    height: 97%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    background: $afterColor;
    transform: translateY(6px);
    margin: auto;
    z-index: -1;
  }
}
body {
  background: $RadialGradient;
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 20px;
  color: #fff;
  //overflow-y: hidden;
  //overflow-x: hidden;
  /*height: 92vh;
  #root {
    height: -webkit-fill-available;
  }*/
  .home {
    margin: 0 auto !important;
    height: -webkit-fill-available;
    max-width: 800px;
    //min-width: 335px;
    header {
      border: 3px solid $HeaderOutline;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
      }
      div {
        width: max-content;
        height: -webkit-fill-available;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px 40px;
        span {
          display: block;
          text-align: center;
        }
        .score {
          color: $ScoreText;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 18px;
        }
        .number {
          font-size: 60px;
          font-weight: 700;
          color: $DarkText;
        }
      }
    }
    section {
      .sc-box,
      .sp-box,
      .p-box,
      .l-box,
      .r-box {
        padding: 12px;
        position: relative;
        border-radius: 50%;
        //border: $border palevioletred; //rmove
        &:hover {
          cursor: pointer;
        }
        .scissors,
        .spock,
        .lizard,
        .paper,
        .rock {
          background-color: #fff;
          //width: ;
          width: 90px;
          height: 90px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          position: relative;

          &::before {
            content: "";
            width: 110px;
            height: 160px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            box-shadow: 1px -7px 0 5px rgba(119, 119, 119, 0.288);
            z-index: 2;
            transform: translateY(6px);
            overflow: hidden;
          }
        }
      }
      .sc-box {
        // background: ;
        @include icons($ScissorsGradient, rgb(211, 143, 18));
      }
      .sp-box {
        @include icons($SpockGradient, hsl(189, 50%, 43%));
      }
      .p-box {
        @include icons($PaperGradient, hsl(230, 56%, 47%));
      }
      .l-box {
        @include icons($LizardGradient, hsl(261, 48%, 48%));
      }
      .r-box {
        @include icons($RockGradient, hsl(349, 66%, 37%));
      }
    }
    section.choose {
      position: relative;
      height: -webkit-fill-available;
      width: -webkit-fill-available;
      display: flex;
      align-items: center;
      justify-content: center;
      .pentagon {
        z-index: -1000;
      }
      .icons {
        position: absolute;
        top: -200px;
        //.scissors,.spock,.lizard,.paper,.rock
        .sc-box,
        .sp-box,
        .p-box,
        .l-box,
        .r-box {
          &:hover {
            cursor: pointer;
          }
        }
        /* padding: 12px;
          position: relative;
          border-radius: 50%;
          //border: $border palevioletred; //rmove
          
          .scissors,
          .spock,
          .lizard,
          .paper,
          .rock {
            background-color: #fff;
            //width: ;
            width: 90px;
            height: 90px;
            border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          }
        }*/
        .sc-box {
          top: 140px;
          // left: 10px;
        }
        .sp-box {
          top: 140px;
          left: -150px;
        }
        .p-box {
          top: 26px;
          left: 150px;
        }
        .l-box {
          left: -100px;
          top: 80px;
        }
        .r-box {
          top: -34px;
          left: 115px;
        }
      }
    }
    section.choice {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      .you-box,
      .comp-box {
        position: relative;
        text-align: center;
        height: -webkit-fill-available;
        .picked {
          margin-bottom: 50px;
          text-transform: uppercase;
          color: #fff;
          font-size: 17px;
          font-weight: 600;
          position: relative;
          top: 0;
        }
      }
      .ring {
        animation: rings 1.4s ease-in infinite;
      }
      .you,
      .computer {
        position: relative;
        bottom: 0;
        width: max-content;
        margin: auto;
      }
      .temp {
        width: 114px;
        height: 114px;
        border-radius: 50%;
        background-color: $DarkText;
      }
      .reset {
        width: max-content;
        text-transform: uppercase;
        margin: auto 10px;
        text-align: center;
        span,
        button {
          display: block;
        }
        .status {
          color: #fff;
          font-size: 50px;
          font-weight: 700;
          white-space: nowrap;
        }
        button {
          text-transform: uppercase;
          color: $DarkText;
          background-color: #fff;
          font-size: 17px;
          width: -webkit-fill-available;
          border: 0;
          outline: 0;
          border-radius: 6px;
          padding: 10px;
          font-weight: 600;
        }
      }
    }
    .x,
    button,
    .footer-text-box {
      &:hover {
        cursor: pointer;
      }
    }
    footer {
      //position: relative;
      /*
        right: 0px;*/
      position: relative;
      bottom: 0px;
      display: flex;
      justify-content: flex-end;
      margin-top: 70px;
      .footer-text-box {
        border: 3px solid $HeaderOutline;
        border-radius: 7px;
        padding: 5px;
        width: max-content;

        padding: 7px 45px;
        .text {
          font-size: 20px;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
      //.rules-box{display: none;}-plus
      .box-box {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($color: #000000, $alpha: 0.6);
        .rules-box {
          padding: 25px 15px 30px;
          display: block;
          background-color: #fff;
          width: 400px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 8px;

          .rules {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .text {
              color: $DarkText;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 29px;
            }
            .x {
            }
          }
          .rules-svg {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &.none {
          display: none;
        }
      }
    }
  }
} /*
@keyframes rings {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.04),
      0px 0px 0px 0px rgba(255, 255, 255, 0.025),
      0px 0px 0px 0px rgba(255, 255, 255, 0.01);
  }

  100% {
    box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0.04),
      0px 0px 0px 80px rgba(255, 255, 255, 0.025),
      0px 0px 0px 130px rgba(255, 255, 255, 0.01);
  }*/
@keyframes rings {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.04),
      0px 0px 0px 0px rgba(255, 255, 255, 0.025),
      0px 0px 0px 0px rgba(255, 255, 255, 0.01);
  } /*
  10% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.04),
      0px 0px 0px 0px rgba(255, 255, 255, 0.025),
      0px 0px 0px 0px rgba(255, 255, 255, 0.01);
  }
  20% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.04),
      0px 0px 0px 0px rgba(255, 255, 255, 0.025),
      0px 0px 0px 0px rgba(255, 255, 255, 0.01);
  }*/
  30% {
    box-shadow: 0px 0px 0px 40px rgba(255, 255, 255, 0.04),
      0px 0px 0px 40px rgba(255, 255, 255, 0.025),
      0px 0px 0px 40px rgba(255, 255, 255, 0.01);
  } /*
  40% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.04),
      0px 0px 0px 0px rgba(255, 255, 255, 0.025),
      0px 0px 0px 0px rgba(255, 255, 255, 0.01);
  }
  50% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.04),
      0px 0px 0px 0px rgba(255, 255, 255, 0.025),
      0px 0px 0px 0px rgba(255, 255, 255, 0.01);
  }*/
  60% {
    box-shadow: 0px 0px 0px 40px rgba(255, 255, 255, 0.04),
      0px 0px 0px 80px rgba(255, 255, 255, 0.025),
      0px 0px 0px 80px rgba(255, 255, 255, 0.01);
  } /*
  70% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.04),
      0px 0px 0px 0px rgba(255, 255, 255, 0.025),
      0px 0px 0px 0px rgba(255, 255, 255, 0.01);
  }
  80% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.04),
      0px 0px 0px 0px rgba(255, 255, 255, 0.025),
      0px 0px 0px 0px rgba(255, 255, 255, 0.01);
  }
  90% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.04),
      0px 0px 0px 0px rgba(255, 255, 255, 0.025),
      0px 0px 0px 0px rgba(255, 255, 255, 0.01);
  }*/

  100% {
    box-shadow: 0px 0px 0px 40px rgba(255, 255, 255, 0.04),
      0px 0px 0px 80px rgba(255, 255, 255, 0.025),
      0px 0px 0px 130px rgba(255, 255, 255, 0.01);
  }
}
