$ScissorsGradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$PaperGradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$RockGradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$LizardGradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
$SpockGradient: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
$DarkText: hsl(229, 25%, 31%);
$ScoreText: hsl(229, 64%, 46%);
$HeaderOutline: hsl(217, 16%, 45%);
$RadialGradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$border: 12px solid;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $RadialGradient;
  margin: 20px;
  color: #fff;
  overflow-y: hidden;
  //overflow-x: hidden;
  /*height: 92vh;
  #root {
    height: -webkit-fill-available;
  }*/
  .home {
    margin: 0 auto !important;
    height: -webkit-fill-available;
    max-width: 800px;
    header {
      border: 3px solid $HeaderOutline;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      svg {
      }
      div {
        width: max-content;
        height: -webkit-fill-available;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px 40px;
        span {
          display: block;
          text-align: center;
        }
        .score {
          color: $ScoreText;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 18px;
        }
        .number {
          font-size: 60px;
          font-weight: 700;
          color: $DarkText;
        }
      }
    }
    section {
    }
    section.choose {
      position: relative;
      height: -webkit-fill-available;
      width: -webkit-fill-available;
      display: flex;
      align-items: center;
      justify-content: center;
      .icons {
        position: absolute;
        top: -200px;
        div {
          position: relative;
          background-color: #fff;
          width: 119px;
          height: 119px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: $border palevioletred; //rmove
          &:hover {
            cursor: pointer;
          }
        }
        .scissors {
          top: 140px;
          // left: 10px;
        }
        .spock {
          top: 120px;
          left: -150px;
        }
        .paper {
          border: $border $PaperGradient;
          top: -9px;
          left: 150px;
        }
        .lizard {
          left: -100px;
          top: 60px;
        }
        .rock {
          top: -65.5px;
          left: 115px;
        }
      }
    }
    section.choice {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .you-box,
      .comp-box {
        position: relative;
        text-align: center;
        .picked {
          margin-bottom: 20px;
          text-transform: uppercase;
          color: #fff;
          font-size: 17px;
          font-weight: 600;
        }
      }
      .ring1,
      .ring2,
      .ring3 {
        position: relative;

        border-radius: 50%;
        width: max-content;
      }
      .ring1 {
        //width: ;
        border: 30px solid rgba($color: #fff, $alpha: 0.1);
      }
      .ring2 {
        border: 30px solid rgba($color: #fff, $alpha: 0.06);
      }
      .ring3 {
        border: 30px solid rgba($color: #fff, $alpha: 0.04);
      }
      .you,
      .computer {
        background-color: #fff;
        width: 123px;
        height: 123px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: $border palevioletred;
      }
      .reset {
        span,
        button {
          display: block;
        }
      }
      .ring {
      }
      .reset {
        width: max-content;
        text-transform: uppercase;
        margin: auto 10px;
        .status {
          color: #fff;
          font-size: 50px;
          font-weight: 700;
          white-space: nowrap;
        }
        button {
          text-transform: uppercase;
          color: $DarkText;
          background-color: #fff;
          font-size: 17px;
          width: -webkit-fill-available;
          border: 0;
          outline: 0;
          border-radius: 6px;
          padding: 10px;
          font-weight: 600;
        }
      }
    }
    .x,
    button,
    .footer-text-box {
      &:hover {
        cursor: pointer;
      }
    }
    footer {
      //position: relative;
      .footer-text-box {
        border: 3px solid $HeaderOutline;
        border-radius: 7px;
        padding: 5px;
        width: max-content;
        position: absolute;
        right: 20px;
       
      padding: 7px 45px;
      .text {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
      }
      }
      //.rules-box{display: none;}-plus
      .box-box {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($color: #000000, $alpha: 0.6);
        .rules-box {
          padding: 25px 15px 30px;
          display: block;
          background-color: #fff;
          width: 400px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 8px;

          .rules {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .text {
              color: $DarkText;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 29px;
            }
            .x {
            }
          }
          .rules-svg {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        &.none {
          display: none;
        }
      }
    }
  }
}
@keyframes rings {
  0% {
  }
}
