@media screen and (max-width: 548px) {
  body .home {
    header {
      height: 115px;
      margin-bottom: 40px;
      padding: 5px;
      svg {
        position: relative;
        left: -12px;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
      }
      div {
        //height: -webkit-fill-available;
        height: 100%;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px 30px;
        .score {
          font-size: 16px;
        }
        .number {
          font-size: 45px;
        }
      }
    }
    section {
      .sc-box,
      .sp-box,
      .p-box,
      .l-box,
      .r-box {
        .scissors,
        .spock,
        .lizard,
        .paper,
        .rock {
          width: 70px;
          height: 70px;
          svg {
            -webkit-transform: scale(0.7);
            transform: scale(0.7);
          }
          &::before {
            -webkit-transform: translateY(5px);
            transform: translateY(5px);
          }
        }
      }
    }
    section.choose {
      .pentagon {
        svg {
          -webkit-transform: scale(0.8);
          transform: scale(0.8);
        }
      }
      .icons {
        .sc-box {
          top: 180px;
          // left: 10px;
        }
        .sp-box {
          top: 180px;
          left: -130px;
        }
        .p-box {
          top: 86px;
          left: 130px;
        }
        .l-box {
          left: -100px;
          top: 135px;
        }
        .r-box {
          top: 41px;
          left: 100px;
        }
      }
    }
    /*
    section.choice {
      display: grid;
      grid-template-areas:
        "you . comp"
        ". resets .";
      padding: 0 20px;
      align-items: center;
      .you-box {
        grid-area: you;
      }
      .comp-box {
        grid-area: comp;
      }
      .reset {
      }
      .you-box,
      .comp-box {
        .picked {
          top: unset;
          font-size: 16px;
          bottom: -163px;
          white-space: nowrap;
          //margin-bottom: unset;
        }
      }
      .you,
      .computer {
        top: -163px;
        transform: translateY(100%);
      }
      .temp {
        width: 94px;
        height: 94px;
        border-radius: 50%;
      }
      .reset {
        grid-area: resets;
        margin-top: 30px !important;
        .status {
          font-size: 40px;
        }
        button {
          font-size: 15px;
        }
      }
    }*/
    section.choice {
      // height: max-content;
      margin-bottom: 150px;
      display: flex;
      justify-content: space-around;
      position: relative;
      align-items: center;
      padding: 0 20px;
      height: 160px;
      .you-box,
      .comp-box {
        .picked {
          position: relative;
          top: 0;
          font-size: smaller;
          white-space: nowrap;
        }
      }
      .temp {
        width: 84px !important;
        height: 84px !important;
      }

      .ring {
        animation: rings1 1.4s ease-in infinite;
      }
      .reset {
        position: absolute;
        top: 183px !important;
        margin-top: 30px !important;

        .status {
          font-size: 30px !important;
        }
        button {
          font-size: 10px !important;
          font-weight: 700;
        }
      }
    }
    footer {
      justify-content: center;
      margin-top: 20px !important;
    }
  }
}
@media screen and (max-width: 425px) {
  body .home {
   section {
      .sc-box,
      .sp-box,
      .p-box,
      .l-box,
      .r-box {
        .scissors,
        .spock,
        .lizard,
        .paper,
        .rock {
          width: 60px;
          height: 60px;
          svg {
            //transform: scale(0.3);
           // -webkit-transform: scale(0.3);
          }
          &::before {
            width: 90px;
            height: 140px;
          }
        }
        &::after,  &::before {
          -webkit-transform: translateY(4px);
          transform: translateY(4px);
        }
      }
    }
    section.choose {
      height: 300px;
      width: 100%;
      .pentagon {
       // z-index: -1;
        height: auto;
        svg {
          transform: scale(0.7);
        }
      }
      .icons {
        .sc-box {
         // transform: scale(0.9);
          top: 196px;
          // left: 10px;
        }
        .sp-box {
          top: 180px;
          left: -110px;
        }
        .p-box {
          top: 96px;
          left: 110px;
        }
        .l-box {
          transform: scale(0.8);
          left: -80px;
          top: 145px;
        }
        .r-box {
          top: 61px;
          left: 80px;
        }
      }
    }

    section.choice {
      padding: 0;
      //justify-content: space-between;
      position: relative;
      align-items: center;
      margin-bottom: 170px;
      .you-box,
      .comp-box {
        height: 100px;
        .picked {
          margin-bottom: 0;
          bottom: -103px;
          top: unset;
        }
      }
      .you,
      .computer {
        top: -103px;
        bottom: unset;
        transform: translateY(100%);
      }
      .temp {
        width: 94px;
        height: 94px;
        border-radius: 50%;
        bottom: -103px;
      }

      .ring {
        animation: rings2 1.4s ease-in infinite;
      }
      .reset {
        /* display: flex;
        justify-content: space-around;
        align-items: center;*/
        position: absolute;
        top: 123px;
        margin-top: 30px !important;
        .status {
          font-size: 40px;
        }
        button {
          font-size: 15px;
        }
      }
    }
    footer {
      margin-top: 20px;
      .box-box {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        .rules-box {
          padding: 45px 0;
          width: 100%;
          height: 100%;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          border-radius: 0;
          position: relative;
          .rules {
            display: block;
            text-align: center;
            .text {
              position: relative;
              display: block;
              padding-top: 45px;
            }
            .x {
              position: absolute;
              bottom: 55px;
              display: block;
              left: 50%;
              -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
            }
          }
          .rules-svg {
            height: -webkit-fill-available;
            padding-bottom: 135px;
            svg {
              -webkit-transform: scale(0.9);
              transform: scale(0.9);
              
            display: flex;
            justify-content: center;
            align-items: center;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-height: 360px) {
  footer {
    margin-top: 20px;
    .box-box {
      .rules-box {
        .rules-svg {
          svg {
            -webkit-transform: scale(0.7) !important;
            transform: scale(0.7) !important;
          }
        }
      }
    }
  }
}
//height
@media screen and (min-height: 670px) {
}
@keyframes rings1 {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.04),
      0px 0px 0px 0px rgba(255, 255, 255, 0.025),
      0px 0px 0px 0px rgba(255, 255, 255, 0.01);
  }
  30% {
    box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0.04),
      0px 0px 0px 30px rgba(255, 255, 255, 0.025),
      0px 0px 0px 30px rgba(255, 255, 255, 0.01);
  }
  60% {
    box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0.04),
      0px 0px 0px 65px rgba(255, 255, 255, 0.025),
      0px 0px 0px 65px rgba(255, 255, 255, 0.01);
  }

  100% {
    box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0.04),
      0px 0px 0px 65px rgba(255, 255, 255, 0.025),
      0px 0px 0px 110px rgba(255, 255, 255, 0.01);
  }
}

@keyframes rings2 {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.04),
      0px 0px 0px 0px rgba(255, 255, 255, 0.025),
      0px 0px 0px 0px rgba(255, 255, 255, 0.01);
  }
  30% {
    box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.04),
      0px 0px 0px 20px rgba(255, 255, 255, 0.025),
      0px 0px 0px 20px rgba(255, 255, 255, 0.01);
  }
  60% {
    box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.04),
      0px 0px 0px 40px rgba(255, 255, 255, 0.025),
      0px 0px 0px 40px rgba(255, 255, 255, 0.01);
  }

  100% {
    box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.04),
      0px 0px 0px 40px rgba(255, 255, 255, 0.025),
      0px 0px 0px 70px rgba(255, 255, 255, 0.01);
  }
}
